<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RCS_tuijinqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{715,246},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RTG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,120}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{240,366},{60,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cefenliqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,180}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{938,366},{80,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuizhifenlei_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,77}</string>
                <key>spriteSourceSize</key>
                <string>{286,77}</string>
                <key>textureRect</key>
                <string>{{200,246},{286,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuizhifenlei_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{723,0},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{900,120},{90,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,60}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{0,180},{360,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{240,0},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi_xiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{600,180},{90,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{360,180},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_putong_lianjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,180}</string>
                <key>spriteSourceSize</key>
                <string>{52,180}</string>
                <key>textureRect</key>
                <string>{{886,366},{52,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_putong_zhankai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{0,786},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_putong_zhedie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,240}</string>
                <key>spriteSourceSize</key>
                <string>{10,240}</string>
                <key>textureRect</key>
                <string>{{948,546},{10,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_putong_zhedie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,240}</string>
                <key>spriteSourceSize</key>
                <string>{10,240}</string>
                <key>textureRect</key>
                <string>{{240,786},{10,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_zhenlie_lianjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,180}</string>
                <key>spriteSourceSize</key>
                <string>{52,180}</string>
                <key>textureRect</key>
                <string>{{480,546},{52,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_zhenlie_zhankai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,360}</string>
                <key>spriteSourceSize</key>
                <string>{180,360}</string>
                <key>textureRect</key>
                <string>{{251,1086},{180,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_zhenlie_zhedie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,360}</string>
                <key>spriteSourceSize</key>
                <string>{15,360}</string>
                <key>textureRect</key>
                <string>{{236,1086},{15,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchiban_zhenlie_zhedie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,360}</string>
                <key>spriteSourceSize</key>
                <string>{15,360}</string>
                <key>textureRect</key>
                <string>{{221,1086},{15,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duijiekou_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,60}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{240,60},{360,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duijiekou_xiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{780,120},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duijiekou_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{775,0},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_da1_shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,46}</string>
                <key>spriteSourceSize</key>
                <string>{216,46}</string>
                <key>textureRect</key>
                <string>{{507,0},{216,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_da1_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,96}</string>
                <key>textureRect</key>
                <string>{{520,246},{180,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_da1_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,374}</string>
                <key>spriteSourceSize</key>
                <string>{240,374}</string>
                <key>textureRect</key>
                <string>{{240,1446},{240,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_da2_shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,25}</string>
                <key>spriteSourceSize</key>
                <string>{240,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_da2_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,349}</string>
                <key>spriteSourceSize</key>
                <string>{221,349}</string>
                <key>textureRect</key>
                <string>{{0,1086},{221,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_xiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{766,366},{120,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_zhong1_shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{748,180},{192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_zhong1_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,257}</string>
                <key>spriteSourceSize</key>
                <string>{200,257}</string>
                <key>textureRect</key>
                <string>{{250,786},{200,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_zhong2_shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,75}</string>
                <key>spriteSourceSize</key>
                <string>{200,75}</string>
                <key>textureRect</key>
                <string>{{0,246},{200,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fadongji_zhong2_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,231}</string>
                <key>spriteSourceSize</key>
                <string>{152,231}</string>
                <key>textureRect</key>
                <string>{{796,546},{152,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangluosan_ce_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,100}</string>
                <key>spriteSourceSize</key>
                <string>{15,100}</string>
                <key>textureRect</key>
                <string>{{700,246},{15,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangluosan_ce_gai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,120}</string>
                <key>spriteSourceSize</key>
                <string>{15,120}</string>
                <key>textureRect</key>
                <string>{{895,246},{15,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangluosan_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{352,0},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangluosan_gai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,34}</string>
                <key>textureRect</key>
                <string>{{260,0},{92,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiegoulingjian_chaoda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{0,120},{480,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiegoulingjian_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiegoulingjian_xiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{480,120},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiegoulingjian_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{660,120},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kqdl_bizhui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,300}</string>
                <key>spriteSourceSize</key>
                <string>{241,300}</string>
                <key>textureRect</key>
                <string>{{690,786},{241,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kqdl_bizhui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,300}</string>
                <key>spriteSourceSize</key>
                <string>{240,300}</string>
                <key>textureRect</key>
                <string>{{450,786},{240,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kqdl_bizhui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{431,1086},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kqdl_jishen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,480}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{480,1446},{240,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kqdl_jishen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,360}</string>
                <key>spriteSourceSize</key>
                <string>{240,360}</string>
                <key>textureRect</key>
                <string>{{0,1446},{240,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liudonglun_da_lun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{596,366},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liudonglun_da_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,96}</string>
                <key>spriteSourceSize</key>
                <string>{34,96}</string>
                <key>textureRect</key>
                <string>{{486,246},{34,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liudonglun_xiao_lun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{785,246},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liudonglun_xiao_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,66}</string>
                <key>spriteSourceSize</key>
                <string>{22,66}</string>
                <key>textureRect</key>
                <string>{{940,180},{22,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizifadongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{540,120},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wurentanceji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,120}</string>
                <key>spriteSourceSize</key>
                <string>{250,120}</string>
                <key>textureRect</key>
                <string>{{300,366},{250,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{0,366},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zairencang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{556,546},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhengliuzhao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{240,546},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhengliuzhao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{0,546},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuolutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{690,180},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuolutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,148}</string>
                <key>spriteSourceSize</key>
                <string>{46,148}</string>
                <key>textureRect</key>
                <string>{{550,366},{46,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuolutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{446,0},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuolutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,186}</string>
                <key>spriteSourceSize</key>
                <string>{24,186}</string>
                <key>textureRect</key>
                <string>{{532,546},{24,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rocketunit.png</string>
            <key>size</key>
            <string>{1018,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12b96a311de8817bef31dfd26090e964:e9bb4427ee83075273f140e3af034635:9c7d2e4e4d6489ad1f48cbb42c2a4fb1$</string>
            <key>textureFileName</key>
            <string>rocketunit.png</string>
        </dict>
    </dict>
</plist>
